section
.container-fluid
    .row
        .main-img.col-xs-12
            picture
                source(srcset='/img/running-800x404.jpg' media='(max-width: 850px) and (min-width: 450px)')
                img.img-responsive#inspiration-pic(src='/img/running-1200x500.jpg' alt='running women')

