section
    .container
        .row
            .main-img.col-xs-12
                picture
                    source(srcset='/img/running-800x404.jpg' media='(max-width: 991px) and (min-width: 450px)')
                    img.img-responsive#inspiration-pic(src='/img/running-1200x500.jpg' alt='running women')
                section.main-img-content.text-center
                    if !user
                        h1 This service is for
                        p
                            | Lorem ipsum dolor sit amet, ut pede, inceptos nullam porttitor.
                            br
                            | Massa aenean, nunc quis. Volutpat ac praesent, at pulvinar.
                            br
                            | Sed viverra. Viverra scelerisque, sem sed vitae. Nisl consectetuer, leo nonummy.
                        button.btn-custom.btn-join-us Get started
                        button.btn-custom.btn-join-us Learn more
                    else
                        section#btn-help-sch-holder
                            button.btn-custom.btn-join-us.btn-help-search I need help
                            button.btn-custom.btn-join-us.btn-help-search I can help
