header
    div
        a(href='/') Mama Help
        if !user
            a(href="/auth/twitter") Login with Twitter
            a(href="/auth/facebook") Login with Facebook
        else
            a(href="/auth/logout") Logout