header
    div
        a(href='/') Mama Help
        if !user
            div
                a(href="/auth/twitter") Login with Twitter
            div
                a(href="/auth/facebook") Login with Facebook
            div
                a(href="/auth/google") Login with Google
        else
            div #{__('Hello')} #{user.name}
            div
                a(href="/auth/logout") Logout
        div
            p #{__('Language')}
            p
                ul
                    li
                        a(href='/en') English
                    li
                        a(href='/ua') Українська
                    li
                        a(href='/ru') Русский
