header
.container-fluid.header-top
    .row
        .col-xs-12
            div#nav-search-input
                .site-search-input-wrapper
                span.glyphicon.glyphicon-search#glyphicon-search2
                form(role='', action='', method='get')
                    input.site-search-input#search-terms(type='text', name='search-terms', placeholder='Print here')
                span.glyphicon.glyphicon-remove
        .col-sm-4.col-md-3.site-name
            a(href='/') Mama Help
        nav.col-sm-8.col-md-9.navbar.navbar-default
            .navbar-header
                button.navbar-toggle.collapsed#toggle-nav-btn(type='button' data-toggle='collapse' data-target='#navbar-collapse-1' aria-expanded='false')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            .navbar-collapse.collapse.navbar-left#navbar-collapse-1
                ul.nav.navbar-nav
                    li
                        a.header-link-font(href='') Home
                    li
                        a.header-link-font(href='') Blog
                    li
                        a.header-link-font(href='') Forum

            .search-holder
                button.pull-right.js-click-unsensitive.site-search.btn-custom.navbar-btn.nav-search-label#site-search-button(type='button')
                    span.glyphicon.glyphicon-search.nav-search-label.js-click-unsensitive
            if !user
                button.navbar-btn.btn-custom.pull-right(type='button', data-toggle='modal', data-target='#logInFormModal') Log in
            else
                .dropdown.user-menu.pull-right
                    #userNameDropdown(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        .user-name
                            p.header-link-font #{user.name}

                    ul.dropdown-menu.dropdown-menu-right(aria-labelledby='userNameDropdown')
                        li
                            a.header-link-font Bookmarks
                        li
                            a.header-link-font Contacts
                        li
                            a.header-link-font History
                        li.divider(role='separator')
                        li
                            a Profile
                        li
                            a Settings
                        li.divider(role='separator')
                        li
                            a(href="/auth/logout") Logout

                                //**************LogIn modal***********************
.modal.fade#logInFormModal(tabindex='-1', role='dialog', aria-labelledby='logInFormLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='false') &times;
            .modal-body.login-modal
                .wrapper.center-block
                    form.login-modal-form
                        .form-group
                            label(for='loginUserEmail') Email address
                            input#loginUserEmail.form-control(type='email', placeholder='Email')
                        .form-group
                            label(for='loginPassword') Password
                            input#loginPassword.form-control(type='password', placeholder='Password')
                    p.text-center or login with
                    ul.nav
                        li
                            form(action='/auth/twitter' method='get')
                                button.btn-social.btn-twitter(type='submit') Login with Twitter
                                    span.fa.fa-twitter
                        li
                            form(action='/auth/facebook' method='get')
                                button.btn-social.btn-facebook(type='submit') Login with Facebook
                                    span.fa.fa-facebook
                        li
                            form(action='/auth/google' method='get')
                                button.btn-social.btn-google(type='submit') Login with Google
                                    span.fa.fa-google-plus
            .modal-footer
                .wrapper.center-block
                    ul.list-inline
                        li Not a user yet?
                        li
                            button.btn-custom Join us
//
    .hidden-xs.lang-switcher.pull-right
                           ul.nav
                               each val in systemLocales
                                   if val != locale
                                       li.pull-right
                                           a(href='/#{val}')
                                               img(src='/img/#{val}.png')