//
   Created by yulia on 1/19/2016.
sidebar
    .sidebar-body
        section
        .recent-articles
            h1 Recent stories
            hr
            .article-entry
                h3 Icecream forever
                em Jelly sugar plum topping. Jelly beans candy...
                    a Read article
            .article-entry
                h3 Kids like veggies, are you kidding me?!
                em Veggies es bonus vobis, proinde vos postulo essum magis kohlrabi welsh onion daikon amaranth tatsoi...
                    a Read article
            .article-entry
                h3 Best gifts for 6th to 9th birthday
                em Eat stuck in a tree lick biting shed everywhere sleep on your keyboard...
                    a Read article


    .sidebar-footer



