extends layout

block content
    include partials/mainimg
        section.main-img-content.text-center
            if !user
                h1 This service is for
                p
                    | Lorem ipsum dolor sit amet, ut pede, inceptos nullam porttitor.
                    br
                    | Massa aenean, nunc quis. Volutpat ac praesent, at pulvinar.
                    br
                    | Sed viverra. Viverra scelerisque, sem sed vitae. Nisl consectetuer, leo nonummy.
                button.btn-custom.btn-join-us Get started
                button.btn-custom.btn-join-us Learn more
            else
                section#btn-help-sch-holder
                    button.btn-custom.btn-join-us.btn-help-search I need help
                    button.btn-custom.btn-join-us.btn-help-search I can help
    .container-fluid
        .row
            .col-md-8.col-sm-8.page-content
                if !user
                    h1 Why MamaHelp
                    p.text-justify Lorem ipsum dolor sit amet, mei ex iusto putent consectetuer. Sed ex tation quaerendum. Luptatum expetenda te pri. Nec eu hinc volutpat, illud persius percipitur quo cu. Sanctus definitiones in per, eos cu facer inermis.
                    p.text-justify Mei te placerat liberavisse, vix eu tempor everti aliquip, te cum summo scribentur. Et erat patrioque dignissim eos, errem pericula petentium quo te. Ubique scripta sapientem eu nec, quo impetus delenit insolens in. Cum iusto veritus civibusne. Cum et quem debet nullam, vivendo copiosae erroribus cum cu.
                    p.text-justify Usu aliquam accusam tacimates ne. Voluptua recusabo vulputate vix cu, aliquando democritum vel ex. Ea doming definiebas pro, sea vidit phaedrum no. Ne brute detraxit eam, iusto impetus persecuti has ea, duo ludus aliquip aperiam ex. Per cu diamnatum.
                    p.text-justify Nobis nullam eirmod ne est, munere consulatu te his. Per eripuit accusamus in, id vis natum voluptatibus. Per ei scripta sapientem salutandi, modus illum cum et, vim cu eligendi torquatos. Ius an iudicabit euripidis abhorreant, cu mucius copiosae atomorum vix. Reque erant imperdiet et eum. Ius dicant labitur cu.
                    .text-center
                        a(href='/signup').btn-custom.btn-join-us Join us
                h1 Safety tips
                p.text-justify Mei te placerat liberavisse, vix eu tempor everti aliquip, te cum summo scribentur. Et erat patrioque dignissim eos, errem pericula petentium quo te. Ubique scripta sapientem eu nec, quo impetus delenit insolens in. Cum iusto veritus civibus ne. Cum et quem debet nullam, vivendo copiosae erroribus cum cu.
                p.text-justify Usu aliquam accusam tacimates ne. Voluptua recusabo vulputate vix cu, aliquando democritum vel ex. Ea doming definiebas pro, sea vidit phaedrum no. Ne brute detraxit eam, iusto impetus persecuti has ea, duo ludus aliquip aperiam ex. Per cu diam natum.
                p.text-justify Nobis nullam eirmod ne est, munere consulatu te his. Per eripuit accusamus in, id vis natum voluptatibus. Per ei scripta sapientem salutandi, modus illum cum et, vim cu eligendi torquatos. Ius an iudicabit euripidis abhorreant, cu mucius copiosae atomorum vix. Reque erant imperdiet et eum. Ius dicant labitur cu.
            .col-md-4.col-sm-4
                include partials/sidebar