doctype html
html
    head
        title Mama Help
        include partials/head
    body
        include partials/navigation
        include partials/mainimg
        block content




















        //   JavaScripts
        include partials/body_end