doctype html
html
    head
        title= title
    body
        block header
        block content
        block sidebar
        div(id='footer')
            block footer
        link(rel='stylesheet', href='/stylesheets/style.css')
