doctype html
html
    head
        title Mama Help
        include partials/head
    body
        include partials/navigation
        include partials/mainimg
        block content




















        //   JavaScripts
        script(src='/jquery/jquery-2.1.4.min.js')
        script(src='/styles/bootstrap/js/bootstrap.min.js')