extends layout

block content
    include partials/mainimg
        section.main-img-content.reg-form.col-md-12
            .reg-form-header.text-center
                h1 Registration form
            .row
                form.col-sm-12(name='regForm', action='', method='post')
                    .form-group.col-sm-5
                        label(for='inputFirstName') First name
                        i.fa.fa-asterisk
                        p.hidden.field-notification field is required
                        input.form-control#inputFirstName(name='firstName',type='', placeholder='First name')
                        span.sp
                    .form-group.col-sm-5.col-sm-push-2
                        label(for='inputLastName') Last name
                        i.fa.fa-asterisk
                        p.hidden.field-notification field is required
                        input.form-control#inputLastName(name='lastName', type='', placeholder='Last name')
                        span.sp
                    .form-group.col-sm-5
                        label(for='inputEmail') Email
                        i.fa.fa-asterisk
                        p.hidden.field-notification field is required
                        input.form-control#inputEmail(name='email', type='email', placeholder='Email')
                        span.sp
                    .form-group.col-sm-5.col-sm-push-2
                        label(for='inputNickName') Nickname
                        i.fa.fa-asterisk
                        p.hidden.field-notification field is required
                        input.form-control#inputNickName(name='nickName',type='', placeholder='Nickname')
                        span.sp
                    .form-group.col-sm-5
                        label(for='inputPass') Password
                        i.fa.fa-asterisk
                        p.hidden.field-notification field is required
                        input.form-control#inputPass(name='password', type='password', placeholder='Password')
                        span.sp
                    .form-group.col-sm-5.col-sm-push-2
                        label(for='confirmPass') Confirm password
                        i.fa.fa-asterisk
                        p.hidden.field-notification field is required
                        input.form-control#confirmPass(name='confirmPass', type='password', placeholder='Confirm password')
                        span.sp
                .col-sm-12.text-center
                    i.fa.fa-asterisk
                    em.small Required fields
                    button.btn-custom.btn-join-us(type='submit') Submit


