/********Base rules**********/
body {
    background-color: #ffffff;
    line-height: 1;
    margin: 0;
    padding: 0;
    color: #474B4f;

}

main {
    position: relative;
    top: 90px;
}

.background {
    position: absolute;
    background-image: url(../img/background-img.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;

}
.transbox {
    background-color: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
/*******************Custom button*********************/
button {
    outline: none;
}

.btn-custom,
.btn-custom:focus {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    background-color: #474B4F;
    color: #ffd600;
    border: 1px solid #ffd600;
    border-radius: 25px 0 25px 25px;
}

.btn-custom:hover,
.btn-custom:active {
    color: #fff;
    border-color: #fff;
    background-color: #474B4f;
}

.btn-social {
    min-width: 190px;
    padding: 10px 0 10px 50px;
    margin: 5px 0;
    border: 1px solid #fff;
    border-radius: 25px 0 25px 25px;
}

.btn-social > :first-child {
    padding-left: 4px;
    width: 40px;
}

.btn-join-us,
.btn-join-us:focus {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1.5px;
    word-spacing: 5px;
    padding: 0 10px;
    border-color: #474B4f;
}

.btn-help-search {
    width: 200px;
    font-size: 38px;
}

/************Special for Logo************/
.site-name a, .site-name a:hover, .site-name a:focus, .site-name a:active, .site-name a:visited {
    color: #ffd600;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.site-name a:hover, .site-name a:focus, .site-name a:active, .site-name a:visited {
    text-decoration: none
}

/**********Custom typography******************************/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #333638;
    word-spacing: 4px;
    letter-spacing: 1.2px;
}

/*h2 {*/
/*font-size: 42px;*/
/*}*/

/*h3 {*/
/*font-size: 36px;*/
/*}*/

/*h4 {*/
/*font-size: 24px;*/
/*}*/

p {
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    text-indent: 18px;
    line-height: 1.5;
}

a {
    color: #4169E1;
}

a:hover {
    text-decoration: none;
}

/*******************Navbar style*****************/
.navbar-default {
    background-color: #474B4f;
    border: none;
}

.header-top {
    background-color: #474B4f;
    margin-bottom: 20px;
    height: 70px;
    color: #ffd600;
}

.header-link-font {
    color: #ffd600;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff;
    text-decoration: overline;
}

.site-search {
    margin-left: 20px;
}

.user-name {
    padding: 15px;
}

.user-name p,
.user-name span {
    margin: 0 5px;
    line-height: 20px;
}

.user-name p:hover,
.user-name span:hover {
    color: #fff;
}

/***********Expandable search-field**************/
#nav-search-input {
    visibility: collapse;
    position: relative;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 20;
    background-color: #474B4f;
}

#nav-search-input.search-expanded {
    visibility: visible;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 20;
    font-size: 20px;
    color: #ffd600;
    background-color: #474B4F;
    transition: height 400ms ease-in-out, padding 400ms ease-in-out;
}

.site-search-input {
    display: inline-block;
    visibility: visible;
    position: absolute;
    left: 35px;
    top: 50%;
    height: 35%;
    width: 90%;
    background-color: #474B4f;
    border: none;
    border-bottom: 1px solid #ffd600;
    outline: none;
}

#glyphicon-search2 {
    display: inline-block;
    position: absolute;
    top: 57%;
    left: 10px;
    z-index: 25;
}

#nav-search-input .glyphicon-remove {
    display: inline-block;
    position: absolute;
    top: 57%;
    right: 10px;
    z-index: 25;
    color: #000;
}
/************Dropdown transition****************/
.open > .dropdown-menu {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity:1;
}

.dropdown-menu {
    opacity:.3;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    display: block;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

/*******************login modal*****************/

.modal .wrapper {
    width: 200px;
}

/**********************************************************************
**********************Main img section*********************************
***********************************************************************/
.main-img {
    position: relative;
    margin-bottom: 30px;
}

.main-img-content {
    position: absolute;
    top: 25%;
    left: 18%;
}

@media screen and (min-width: 768px) {
    /**sm-screen****/
    .main-img-content {
        width: 60%;
        top: 15%;
        left: 8%;
    }
}

@media screen and (min-width: 992px) {
    /**md-screen****/
    .main-img-content {
        top: 20%;
        left: 10%;
    }
}

/**********************Registration-form****************/
@media screen and (min-width: 768px) {
    /**sm-screen****/
    .reg-form {
        width: 50%;
        top: 4%;
        left: 15%;
    }
}

@media screen and (min-width: 992px) {
    /**md-screen****/
    .reg.form {
        top: 10%;
        left: 10%;
    }
}

.reg-form input {
    width: 200px;
}

.reg-form form {
    display: inline-block;
    margin-top: 20px;
}

.reg-form i {
    color: #ffb400;
}

.reg-form-header {
    margin: 0 auto;
}
/******************************************************/
.content-fixed-top {
    visibility: visible;
    position: fixed;
    top: 70px;
    background: rgba(255,255,255, .80);
    width: 100%;
    height: 100px;
    z-index: 1000;
    margin-left: -15px;
    padding-bottom: 20px;
    box-shadow: 0 0 7px rgba(0,0,0,.25);
    transition: height 200ms ease-in-out, padding 400ms ease-in-out;

}

.content-fixed-top > .btn-help-sch-holder {
    position: absolute;
    bottom: 10px;
    z-index: 1000;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.content-fixed-top.hidden {
    height: 0;
    visibility: collapse;
}

.btn-help-search:first-child {
    margin-right: 10%;
}

.btn-help-search:last-child {
    margin-left: 10%;
}

.article-entry {
    margin-top: 30px;
    line-height: 1.5;
}

.field-correct {
    color: green;
    position: absolute;
    top: 28px;
    left: 220px;
}

.field-uncorrect {
    color: red;
    position: absolute;
    top: 28px;
    left: 220px;
}

.field-notification {
    position: absolute;
    top: 0px;
    right: 37px;
    font-size: 12px;
    font-style: italic;
    color: red;
}

.disp-none {
    display: none;
}


.affix {
    top: 242px;
}

