<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mamahelp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/ee57c8a0cc.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'mh_app/styles/general.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'mh_app/styles/jquery-clockpicker.css' %}"/>

</head>
<body>
<input id="username" type="hidden" value="{{ user.username }}">

{% include 'mh_app/navigation.html' %}
{% include 'mh_app/card-template.html' %}
{% include 'mh_app/babysitting-template.html' %}
{% include 'mh_app/transportation-template.html' %}

{% block content %}
{% endblock %}

{#<script src="{% static 'mh_app/jquery/jquery-2.1.4.min.js' %}"></script>#}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
<script src="{% static 'mh_app/jquery/jquery.js' %}"></script>
<script src="{% static 'mh_app/jquery/jquery.stickem.js' %}"></script>
<script src="{% static 'mh_app/js/jquery-clockpicker.js' %}"></script>
<script src="{% static 'mh_app/js/custom.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnidssOZD0WwpPZpENq0-IlAMc-0CRjwc&libraries=places&language=uk&region=UA"></script>

<script>

    $(document).ready(function () {
        $('.container').stickem();
    });
</script>

{% block scripts %}
{% endblock %}

</body>
</html>