{% load staticfiles %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand" href="{% url 'mh_app:index' %}">Mama Help</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        {% if user and not user.is_anonymous %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mh_app:profile_general_info' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'mh_app:logout' %}">Logout</a>
                </li>
            </ul>
            <span class="navbar-text">{{ user.get_full_name|default:user.username }}</span>
        {% else %}
            <button class="btn btn-primary" id="login-btn" type="button" data-toggle="modal"
                    data-target="#logInFormModal" onclick="clearForm('#sign-in-form')">Log in
            </button>
        {% endif %}
    </div>
</nav>

{% comment %}**************LogIn modal***********************{% endcomment %}
<div class="modal fade" id="logInFormModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <form class="login-modal-form" id="sign-in-form" action="{% url 'social:complete' 'email' %}"
                              method="POST" onsubmit="return formProcessing('#sign-in-form')">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="login-email">Email adress</label>
                                <input id="login-email" name="email" class="form-control" type="email"
                                       placeholder="Email" onblur="return checkEmail(this)">
                            </div>
                            <div class="form-group">
                                <label for="login-password">Password</label>
                                <input id="login-password" name="password" class="form-control" type="password"
                                       placeholder="Password">
                                <a>Forgot password?</a>
                            </div>
                            <div class="text-center">
                                <button class="btn-custom" id="sign-in-button"
                                        type="submit">Sign in
                                </button>
                            </div>

                        </form>
                    </div>
                    <div class="col border border-light border-top-0 border-bottom-0 border-right-0">
                        <p class="text-center">or</p>
                        <ul class="list-group">
                            <li class="list-group-item border-0">
                                {#                                <form action="" method="get"></form>#}
                                <a class="btn btn-social btn-facebook"
                                   href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"> Login with
                                    Facebook
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-group-item border-0">
                                {#                                <form action="" method="get"></form>#}
                                <a class=" btn btn-social btn-google"
                                   href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with
                                    Google
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="modal-footer  border-top-0">
                <div class="row">
                    <div class="col">
                        <span class="align-middle">Not a user yet?</span>
                        <a class="btn btn-link" href="{% url 'mh_app:signup' %}" onclick="clearForm('#reg-form')">Join us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
