{% extends 'mh_app/user_profile.html' %}
{% load staticfiles %}

{% block main %}
    <div class="col-xs-10" id="need-help">
        <div class="col-xs-12" id="need-all-myHelps"></div>
        <div class="col-xs-12" id="for-need-help-form">
            {#        <template id='need-help-form'>#}
            <form id="help-request-form" action="" method="post"
                  onsubmit="return helpSubmit('help-request-form')">
                {% csrf_token %}
                <fieldset class="frm" id="need-st1" style="display: none">
                    <legend>Step 1 Select type of help</legend>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="helpType" id="" value="babysitting" checked>
                            Babysitting
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="helpType" id="" value="transportation">
                            Transportation
                        </label>
                    </div>
                    <div class="col-xs-12 btn-holder">
                        <button class="btn-custom btn-join-us btn-primary open1" type="button"
                                onclick="st1Submit()">Next <span
                                class="fa fa-arrow-right"></span></button>
                    </div>
                    <!-- open1 is given in the class that is binded with the click event -->


                </fieldset>
                <fieldset class="frm" id="need-st2-bbsitting" style="display: none">
                    <legend>Step 2 Address</legend>
                    <div class="form-group form-inline">
                        <label for="need-babysitting-address">Address</label>
                        <input class="form-control address-input" id="need-babysitting-address" type="text"
                               size="50" name="bbAddress">
                        <div id="map-holder-bb" style="height:350px"></div>

                    </div>
                    <div class="col-xs-12 btn-holder">
                        <button class="btn-custom btn-join-us btn-warning back2" type="button"
                                onclick="formStep('need-st1')"><span
                                class="fa fa-arrow-left"></span> Back
                        </button>
                        <button class="btn-custom btn-join-us btn-primary open1" type="button"
                                onclick="st2Submit('need-st2-bbsitting')">Next <span
                                class="fa fa-arrow-right"></span></button>
                    </div>
                </fieldset>
                <fieldset class="frm" id="need-st2-transportation" style="display: none">
                    <legend>Step 2 Address</legend>
                    <div class="form-group form-inline">
                        <label for="pick-up-location">Pick up location: </label>
                        <input class="form-control location-from address-input" id="pick-up-location" name="addressFrom"
                               type="text"
                               size="50">
                    </div>
                    <div class="form-group form-inline">
                        <label for="drop-off-location">Drop off location: </label>
                        <input class="form-control location-to address-input" id="drop-off-location" name="addressTo"
                               type="text"
                               size="50">
                    </div>
                    <div id="map-holder-tr" style="height:350px"></div>
                    <div class="col-xs-12 btn-holder">
                        <button class="btn-custom btn-join-us btn-warning back2" type="button"
                                onclick="formStep('need-st1')"><span
                                class="fa fa-arrow-left"></span> Back
                        </button>
                        <button class="btn-custom btn-join-us btn-primary open1" type="button"
                                onclick="st2Submit('need-st2-transportation')">Next <span
                                class="fa fa-arrow-right"></span>
                        </button>
                    </div>
                </fieldset>
                <fieldset class="frm" id="need-st3-bbsitting" style="display: none">
                    <legend>Step 3 Add details (Babysitting)</legend>
                    <div class="form-group">
                        <label for="need-days">Days of week</label>
                        <div id="need-days-babysitting">
                            <label class="checkbox-inline">
                                <input type="checkbox" value="monday">Monday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="tuesday">Tuesday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox"  value="wednesday">Wednesday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox"  value="thursday">Thursday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox"  value="friday">Friday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox"  value="saturday">Saturday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="need-sun" value="sunday">Sunday
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="need-bbsitting-time">Select hours</label>
                        <div id="need-bbsitting-time" class="form-inline">
                            <label for="need-from" class="form-inline">From</label>
                            <div class="input-group clockpicker">

                                <input type="text" class="form-control time" id="need-from" name="timeFrom" value="">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                 </span>
                            </div>
                            {#       class time is only for js use. Add options to select#}

                            <label for="need-to" class="form-inline">To</label>
                            <div class="input-group clockpicker">

                                <input type="text" class="form-control time" id="need-to" name="timeTo" value="">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                 </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="option-place" id="" value="indoor">
                                Indoor
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="option-place" id="" value="outdoor">
                                Outdoor
                            </label>
                        </div>
                    </div>
                    <div class='form-group form-inline'>
                        <label for="need-children">Number of children</label>
                        <input type="number" id="need-children">
                        <div class="form-group form-inline" id="need-age">
                        </div>
                    </div>
                    <div class='form-group'><label for='need-bbsitting-info'>Additional information</label>
                        <textarea id='need-bbsitting-info' placeholder='Give more information' name="info"
                                  class="form-control" rows='5' ></textarea>
                    </div>
                    <div class="col-xs-12 btn-holder">
                        <button class="btn-custom btn-join-us btn-warning" type="button"
                                onclick="formStep('need-st2-bbsitting')"><span
                                class="fa fa-arrow-left"></span> Back
                        </button>
                        <button class="btn-custom btn-join-us"
                                type="submit">Submit
                        </button>
                    </div>
                </fieldset>
                <fieldset class="frm" id="need-st3-transportation" style="display: none">
                    <legend>Step 3 Add details (Transportation)></legend>
                    <div class="form-group">
                        <label for="need-days">Days of week</label>
                        <div id="need-days-transportation">
                            <label class="checkbox-inline">
                                <input type="checkbox"  value="monday">Monday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox"  value="tuesday">Tuesday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="wednesday">Wednesday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox"  value="thursday">Thursday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="friday">Friday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="saturday">Saturday
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" value="sunday">Sunday
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <label for="pick-up-time">Pick up at: </label>
                        <div class="input-group clockpicker">
                            <input type="text" class="form-control time" id="pick-up-time" name="pickUpTime" value="">
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                 </span>
                        </div>
                        <label for="pick-up-time">Pick up at: </label>

                    </div>

                    <div class="form-group form-inline">
                        <label for="drop-off-time">Drop off at: </label>
                        <div class="input-group clockpicker">

                            <input type="text" class="form-control time" id="drop-off-time" name="dropOffTime" value="">
                            <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                 </span>
                        </div>
                    </div>
                    <div class='form-group'><label for='need-transportation-info'>Additional information</label>
                        <textarea id='need-transportation-info' name="info"
                                  placeholder="Give more information (way of transportation, payment for tickets, child age, etc"
                                  class="form-control" rows='5'></textarea>
                    </div>
                    <div class="col-xs-12 btn-holder">
                        <button class="btn-custom btn-join-us btn-warning" type="button"
                                onclick="formStep('need-st2-transportation')"><span
                                class="fa fa-arrow-left"></span> Back
                        </button>
                        <button class="btn-custom btn-join-us"
                                type="submit">Submit
                        </button>
                    </div>

                </fieldset>
            </form>
            {#        </template>#}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'mh_app/js/need-help.js' %}"></script>
{% endblock %}

