{% extends 'mh_app/home.html' %}
{% load staticfiles %}

{% block main %}
    <div class="col-10" id="need-help">
        <div class="col-12 px-0" id="need-all-myHelps"></div>
        <div class="col-12 px-0" id="for-need-help-form">
            <form id="need-helpType" style="display: none">
                <fieldset id="need-st1">
                    <legend>Step 1 Select type of help</legend>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="helpType" value="babysitting" checked>
                            Babysitting
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label>
                            <input type="radio" name="helpType"  value="transportation">
                            Transportation
                        </label>
                    </div>
                    <div class="col-12 btn-holder">
                        <button class="btn btn-primary open1" type="button" id="typeBtn"
                                onclick="return getHelpType()">Next <span
                                class="fa fa-arrow-right"></span></button>
                    </div>
                    <!-- open1 is given in the class that is binded with the click event -->


                </fieldset>
            </form>

            <form id="need-help-form" action="{% url 'mh_app:profile_need_help' %}" method="post"
                  onsubmit="return searchSubmit('need-help-form')">
                {% csrf_token %}

            </form>
        </div>
    </div>
{% endblock %}

