{% extends "mh_app/base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="main-img col-xs-12 clearfix">
                <picture id="pic-inspire">
                    <source srcset="{% static 'mh_app/img/running-800x404.jpg' %}"
                            media='(max-width: 850px) and (min-width: 450px)'>
                    <img class="img-responsive" id="inspiration-pic"
                         src="{% static 'mh_app/img/running-1200x500.jpg' %}" alt='running women'>
                </picture>
                <section class="main-img-content reg-form col-md-12">
                    <div class="reg-form-header text-center">
                        <h1>Registration form</h1>
                    </div>
                    <div class="row">
                        <form class="col-sm-12" name="regForm" action="{% url 'social:complete' "email" %}"
                              method="post">
                            {% csrf_token %}
                            <div class="form-group col-sm-5">
                                <label for="id_first_name">First name</label>
                                <i class="fa fa-asterisk"></i>
                                {% if form.first_name.errors %}
                                    <p class="field-notification">
                                        {% for error in form.first_name.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </p>
                                    <span class="sp glyphicon glyphicon-remove field-uncorrect"></span>
                                {% else %}
                                    <p class="field-notification"></p>
                                    <span class="sp"></span>
                                {% endif %}
                                <input class="form-control" id="id_first_name" name="first_name" type="text"
                                       placeholder="First name"
                                       value="{{ form.first_name.value | default_if_none:'' }}">
                            </div>

                            <div class="form-group col-sm-5 col-sm-push-2">
                                <label for="id_last_name">Last name</label>
                                <i class="fa fa-asterisk"></i>
                                {% if form.last_name.errors %}
                                    <p class="field-notification">
                                        {% for error in form.last_name.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </p>
                                    <span class="sp glyphicon glyphicon-remove field-uncorrect"></span>
                                {% else %}
                                    <p class="field-notification"></p>
                                    <span class="sp"></span>
                                {% endif %}
                                <input class="form-control" id="id_last_name" name="last_name" type="text"
                                       placeholder="Last name" value="{{ form.last_name.value | default_if_none:'' }}">
                            </div>

                            <div class="form-group col-sm-5">
                                <label for="id_email">Email</label>
                                <i class="fa fa-asterisk"></i>
                                {% if form.email.errors %}
                                    <p class="field-notification">
                                        {% for error in form.email.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </p>
                                    <span class="sp glyphicon glyphicon-remove field-uncorrect"></span>
                                {% else %}
                                    <p class="field-notification"></p>
                                    <span class="sp"></span>
                                {% endif %}
                                <input class="form-control" id="id_email" name="email" type="email" placeholder="Email"
                                       value="{{ form.email.value | default_if_none:'' }}">
                            </div>

                            <div class="form-group col-sm-5 col-sm-push-2">
                                <label for="id_username">Nickname</label>
                                <i class="fa fa-asterisk"></i>
                                {% if form.username.errors %}
                                    <p class="field-notification">
                                        {% for error in form.username.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </p>
                                    <span class="sp glyphicon glyphicon-remove field-uncorrect"></span>
                                {% else %}
                                    <p class="field-notification"></p>
                                    <span class="sp"></span>
                                {% endif %}
                                <input class="form-control" id="id_username" name="username" type="text"
                                       placeholder="Nickname" value="{{ form.username.value| default_if_none:'' }}">
                            </div>

                            <div class="form-group col-sm-5">
                                <label for="id_password">Password</label>
                                <i class="fa fa-asterisk"></i>
                                {% if form.password.errors %}
                                    <p class="field-notification">
                                        {% for error in form.password.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </p>
                                    <span class="sp glyphicon glyphicon-remove field-uncorrect"></span>
                                {% else %}
                                    <p class="field-notification"></p>
                                    <span class="sp"></span>
                                {% endif %}
                                <input class="form-control" id="id_password" name="password" type="password"
                                       placeholder="Password" value="{{ form.password.value | default_if_none:'' }}">
                            </div>

                            <div class="form-group col-sm-5 col-sm-push-2">
                                <label for="id_password_confirm">Confirm Password</label>
                                <i class="fa fa-asterisk"></i>
                                {% if form.password_confirm.errors %}
                                    <p class="field-notification">
                                        {% for error in form.password_confirm.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    </p>
                                    <span class="sp glyphicon glyphicon-remove field-uncorrect"></span>
                                {% else %}
                                    <p class="field-notification"></p>
                                    <span class="sp"></span>
                                {% endif %}
                                <input class="form-control" id="id_password_confirm" name="password_confirm"
                                       type="password"
                                       placeholder="Confirm password"
                                       value="{{ form.password_confirm.value | default_if_none:'' }}">
                            </div>
                            {{ form.non_field_errors }}

                            <div class="col-sm-12 text-center">
                                <i class="fa fa-asterisk"></i>
                                <em class="small">Required fields</em>
                                <button class="btn-custom btn-join-us" id="submit-reg"
                                        type="submit" onclick="return validateSubmitForm()">Submit
                                </button>
                            </div>
                        </form>

                    </div>
                </section>
            </div>
        </div>
    </div>

    <script src="{% static 'mh_app/js/reg-form-valid.js' %}"></script>
{% endblock %}
