{% extends 'mh_app/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2" id="user-menu">
                <img class="user-photo" src="http://placehold.it/150x150">
                <ul class="nav nav-pills nav-stacked" role="tablist" id="myTabs">
                    <li class="user-profile">
                        <a class="btn btn-custom" href="{% url 'mh_app:profile_general_info' %}">General info</a>
                    </li>
                    <li class="user-profile">
                        <a class="btn btn-custom" id="profile-need-btn"
                           href="{% url 'mh_app:profile_need_help' %}">I need help</a>
                    </li>
                    <li class="user-profile">
                        <a class="btn btn-custom"
                           href="{% url 'mh_app:profile_can_help' %}">I can help </a></li>

                </ul>
            </div>
            {% block main %}
            {% endblock %}
        </div>
    </div>

{% endblock %}
