{% extends 'mh_app/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <img src="http://placehold.it/150x150">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation" class="active"><a class="btn-custom" href="#">I can help with</a></li>
                    <li role="presentation"><a class="btn-custom" href="#">My requests</a></li>
                    <li role="presentation"><a class="btn-custom" href="#">Contacts</a></li>
                    <li role="presentation"><a class="btn-custom" href="#">History</a></li>
                    <li role="presentation"><a class="btn-custom" href="#">General info</a></li>
                    <li role="presentation"><a class="btn-custom" href="#">Settings</a></li>
                </ul>
            </div>
            <div class="col-xs-8">
                <div id="my-helps"></div>
                <div id="can-help">
                </div>
            </div>

            <div>{{ user.first_name }}</div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script language="JavaScript">

        var helpKeysResource = {
            'city': 'City',
            'district': 'District',
            'days': 'Selected days',
            'hours': 'Preferable hours',
            'children': 'Children age',
            'info': 'Additional information'
        };
        var daysKeysResource = {
            "monday": "Monday",
            "tuesday": "Tuesday",
            "wednesday": "Wednesday",
            "thursday": "Thursday",
            "friday": "Friday",
            "saturday": "Saturday",
            "sunday": "Sunday"
        };
        var selectKeyResource = {
            'selCity': 'city',
            'selDist': 'district'

        }
        var newHelpButton = $("<button onclick='suggestHelp()' id='new-help' class='btn-custom btn-join-us' type='button'>" +
                "Suggest new help</button>");
        var myHelpCount = 0;
        var myHelps = {};
        addElement("#can-help", newHelpButton);
        {#------------------------------Suggest-help button action -----------------------------#}
        function suggestHelp() {
            var div = $("<div id='give-help'></div>");
            $("#can-help").append(div);
            var form = $("<form id='give-help-form'></form>");
            div.append(form);
            addForm();
            $('#my-helps').toggleClass('hide');
        }

        {#------------------------------ADD INPUT HELP FORM------------------------------------#}
        function addForm() {
            var form = $('#give-help-form');
            var city = $("<div class='form-group'><label for='selCity'>Select city</label>" +
                    "<select class='form-control' id='selCity'><option value='' selected>" +
                    "...</option> <option value='City_1'>City 1</option>" +
                    " <option value='City_2'>City 2</option> </select> </div>");
            form.append(city);
            var district = $("<div class='form-group'><label for='selDist'>District</label> " +
                    "<select class='form-control' id='selDist'> <option value='' selected>" +
                    "...</option> <option value='district_1'>District 1</option> " +
                    "<option value='district_2'>District 2</option> " +
                    "<option value='district_3'>District 3</option> " +
                    "<option value='district_4'>District 4</option> " +
                    "</select> </div>");
            form.append(district);
            var kindOfHelp = $("<div class='form-group'><label for='kindOfHelp'>Kind of help</label> " +
                    "<select class='form-control' id='kindOfHelp'> <option value='' selected>" +
                    "...</option> <option value='district_1'>Walk on playground</option> " +
                    "<option value='district_2'>Home babysitting</option> " +
                    "<option value='district_3'>Pick up/Drop off</option> " +
                    "<option value='district_4'>Profesional babysitting</option> " +
                    "</select> </div>");
            form.append(kindOfHelp);
            var days = $("<div class='form-group'> <label for='selDays'>Days of week</label> " +
                    "<div id='selDays'> <label class='checkbox-inline'> " +
                    "<input type='checkbox' id='inlineCheckbox-mon' value='monday'> Monday </label> " +
                    "<label class='checkbox-inline'> <input type='checkbox' id='inlineCheckbox-tue' value='tuesday'> Tuesday </label>" +
                    "<label class='checkbox-inline'> <input type='checkbox' id='inlineCheckbox-wed' value='wednesday'>Wednesday </label>" +
                    "<label class='checkbox-inline'> <input type='checkbox' id='inlineCheckbox-thur' value='thursday'> Thursday </label>" +
                    "<label class='checkbox-inline'> <input type='checkbox' id='inlineCheckbox-fri' value='friday'> Friday </label>" +
                    "<label class='checkbox-inline'> <input type='checkbox' id='inlineCheckbox-sat' value='saturday'> Saturday </label>" +
                    "<label class='checkbox-inline'> <input type='checkbox' id='inlineCheckbox-sun' value='sunday'> Sunday </label>" +
                    "</div> </div>");
            form.append(days);

            var hours = $("<div class='form-group'><label for='hours'>Select hours</label>" +
                    "<div id='hours' class='form-inline'> <label for='selFrom'>From</label>" +
                    "<select class='form-control' id='selFrom'> " +
                    "<option value='' selected>...</option>" +
                    "</select> <label for='selTo' class='form-inline'>To</label>" +
                    "<select class='form-control' id='selTo'> <option value='' selected>...</option>" +
                    "<option disabled>choose from first</option> </select> " +
                    "</div> </div>");
            form.append(hours);
            var children = $("<div class='form-group form-inline'>" +
                    "<label for='chNumber'>Number of children</label> " +
                    "<input type='number' id='chNumber' placeholder='number of children'> </div>");
            form.append(children);
            var childAge = $("<div class='form-group' id='age'><div id='childAge' class='form-inline'>" +
                    "</div></div>");
            form.append(childAge);
            var info = $("<div class='form-group'><label for='more-info-1'>Additional information</label>" +
                    "<textarea id='more-info-1' placeholder='Give more information' class='form-control'" +
                    "rows='5'></textarea> </div>");
            form.append(info);

            var saveButton = $("<button onclick='saveHelp()' class='btn-custom btn-join-us' " +
                    "type='button'>Save </button>");
            form.append(saveButton);

            {#        add time options to 'select'#}
            var arrTime = [], i, j;
            for (i = 0; i < 24; i++) {
                for (j = 0; j < 2; j++) {
                    arrTime.push(i + ":" + (j === 0 ? "00" : 30 * j));
                }
            }
            for (var t = 0; t < arrTime.length; t++) {
                var timeOption = $('<option></option>').attr('value', arrTime[t]).text(arrTime[t]);
                $('#selFrom').append(timeOption);
            }
            var startIndex = 0;
            $('#selFrom').change(function () {
                $('#selTo').find('option').remove();
                var timeFrom = $('#selFrom').val();
                startIndex = $.inArray(timeFrom, arrTime) + 1;
                for (var f = startIndex; f < arrTime.length; f++) {
                    var timeOption = $('<option></option>').attr('value', arrTime[f]).text(arrTime[f]);
                    $('#selTo').append(timeOption);
                }
            });
            //---------------------------------------display label for Age-div--------------------------------///
            var oldNumber = 0;
            var newNumber = 0;
            $('#chNumber').change(function () {
                if ($('#label-age').length == 0) {
                    var label1 = $('<label>').attr('for', 'childAge').attr('id', 'label-age').text('Specify age');
                    $('#age').prepend(label1);
                }
            });
            //---------------------------Add-remove children age field for selected number of kids-------------//

            $('#chNumber').change(function () {
                oldNumber = newNumber;
                newNumber = parseInt($('#chNumber').val());
                if (oldNumber === 0) {
                    AddField(oldNumber, newNumber);
                }
                else {
                    if (oldNumber < newNumber) {
                        AddField(oldNumber, newNumber);
                    } else {
                        removeField(oldNumber, newNumber);
                    }
                }
            });
            function AddField(on, nn) {
                for (var i = on; i < nn; i++) {
                    var childId = (i + 1);
                    var label = $('<label>').attr('for', 'child' + childId + 'Age');
                    var id = ('child' + childId + 'Age');
                    var select = $('<select>').attr('id', id).attr('class', 'form-control').attr('class', 'select-age');
                    label.text('Child' + childId);
                    $('#childAge').append(label).append(select);
                    var optionDef = $('<option></option>').attr('value', '#').attr('selected', true).text('...');
                    select.append(optionDef);
                    for (var j = 0; j < 15; j++) {

                        var option = $('<option></option>').attr('value', j + 1).text(j + 1);
                        select.append(option)
                    }
                }
            }

            deleteElement('#new-help');
        }
        var saveMyHelp = function (myHelp) {
            if (myHelp.id == null) {
                myHelp.id = "Help_" + myHelpCount;
                myHelpCount += 1;
                myHelp['createdDatetime'] = new Date();
                myHelp['updatedDatetime'] = new Date();
                myHelps[myHelp.id] = myHelp;
            } else {
                myHelp['updatedDatetime'] = new Date();
                myHelps[myHelp.id] = myHelp;
            }
        };

        var getMyHelps = function () {
            var values = [];
            for (var key in myHelps) {
                values.push(myHelps[key])
            }
            return values;
        };

        //-------------------------------save button click actions-----------------------------------------//
        function saveHelp() {
            $('#my-helps').toggleClass('hide')

            //hide 'create new help button//
            $('#new-help').click(function () {
                var attr = $('#give-help').attr('aria-expanded');
                if (attr) {
                    $('#new-help').hide();
                }
            });

            var myHelp = {};
            myHelp["city"] = $('#selCity').val();
            myHelp["district"] = $('#selDist').val();
            myHelp["days"] = getCheckboxValues('#selDays');
            myHelp["hours"] = {
                "from": $('#selFrom').val(),
                "to": $('#selTo').val()
            };
            myHelp["children"] = getInputValues('#childAge');
            myHelp["info"] = $('#more-info-1').val();
            saveMyHelp(myHelp);
            $('#give-help-form')[0].reset();
            //--------------//
            var allHelps = getMyHelps();
            for (var i in allHelps) {
                var help = allHelps[i];
            }
            addHelpEntry(help);
        }

        function isKeyUnused(key) {
            return ["id", "createdDatetime", "updatedDatetime"].indexOf(key) != -1;
        }
        function isFieldEmpty(help, key) {
            if (help[key].length === 0 || help[key].length === 'undefined') {
                return true;
            }
            return false;
        }
        function addHelpEntry(help) {
            {#            create div #}
            var entryId = 'entry_' + (help.id);
            var helpDiv = $('<div></div>').attr('id', entryId);
            $('#my-helps').prepend(helpDiv);
            {#            add h3 to div#}
            var id = help.id;
            var h3Id = 'h3_' + id;
            var h3 = $('<h3></h3>').attr('class', 'clearfix').attr('id', h3Id);
            helpDiv.append(h3);
            h3.addClass('bg-info').html('#' + id);
            var keys = Object.keys(help);
            for (var i = 0; i < keys.length; i++) {
                var key = keys[i];
                if (isKeyUnused(key)) {
                    continue;
                }

                var text = "";
                var isFieldEmpty = false;
                if (key === 'days') {
                    var allDays = [];
                    for (var j = 0; j < help.days.length; j++) {
                        allDays.push(daysKeysResource[help.days[j]])
                    }
                    text = allDays.join(", ");
                    isFieldEmpty = allDays.length == 0;
                } else if (key === 'hours') {
                    text = (help.hours.from + ' - ' + help.hours.to);
                    isFieldEmpty = (help.hours.from === "" && help.hours.to === "");
                } else if (key === 'children') {
                    var allAges = [];
                    for (var g = 0; g < help.children.length; g++) {
                        if (help.children[g] != "0") {
                            var age = (help.children[g] + ' years');
                            allAges.push(age);
                        } else {
                            allAges.push("Undefined age");
                        }
                    }
                    text = allAges.join(", ");
                }
                else {
                    text = help[key];
                    isFieldEmpty = text.trim() === "";
                }

                if (!isFieldEmpty) {
                    var typeId = 'p' + '_' + key + '_' + help.id;
                    var fieldParagraph = $('<' + 'p' + '></' + 'p' + '>').attr('id', typeId);
                    helpDiv.append(fieldParagraph);
                    var span = $('<strong>' + helpKeysResource[key] + ': </strong>');
                    span.appendTo(fieldParagraph);
                    fieldParagraph.append(text);
                }
            }

            var editButton = $("<button onclick='editHelp(this.id)' class='btn-custom btn-join-us' type='button'>Edit</button>")
            var buttonId = 'btn_edit_' + id;
            editButton.attr("id", buttonId);
            helpDiv.append(editButton);

            removeField(help.children.length, 0);
            $('#label-age').remove();
            deleteElement('#give-help');
            addElement("#can-help", newHelpButton);
            {#            }#}
        }


        function getCheckboxValues(id) {
            var input = $(id + ' :checkbox');
            var selectedDays = [];
            for (var i = 0; i < input.length; i++) {
                if (input[i].checked) {
                    selectedDays.push(input[i].value)
                }
            }
            return (selectedDays);
        }
        function getInputValues(id) {
            var input = $('.select-age');
            var ages = [];
            for (var i = 0; i < input.length; i++) {
                var value = input[i].value;
                if (value == "#") {
                    ages.push("0");
                } else {
                    ages.push(value);
                }
            }
            return (ages);

        }
        function removeField(on, nn) {
            for (var i = nn; i < on; i++) {
                var idToRemove = ('#child' + (i + 1) + 'Age');
                var labelAttr = ('label[for=child' + (i + 1) + 'Age]');
                $(idToRemove).remove();
                $(labelAttr).remove();
            }

        }
        function deleteElement(id) {
            $(id).remove();
        }

        function addElement(div, id) {
            var element = $(id);
            $(div).append(element);
        }

    function editHelp(clicked_id) {

        var values = clicked_id.split('_');              {# get id of assigned help #}
        var helpId = values[2] + '_' + values[3];
        var help = myHelps[helpId];                      {#  get help from myHelps array #}



        suggestHelp();             {# add form on page #}

        $('#give-help-form').attr('id','edit-help-form');  {#  change form id to edit mode #}
        showUserInfo(help);
    }

    function showUserInfo(help) {
        var selectArr = [];
        var select = $('#edit-help-form').find('select');

        for (var i = 0; i < select.length; i++) {
            selectArr.push(select[i].id);
        }
            for (var j = 0; j < selectArr.length; j++) {
                var field = selectArr[j];
                var fieldId = $('#field');
                console.log('field = ' + field);
                $(field).children().removeAttr("selected");
                var key = selectKeyResource[selectArr[j]];
                console.log('key = ' + key);
                var userText = help[key]; 
             console.log('user text input = ' + userText);
                $('#selCity option[value=userText]').css('color', 'red')
{#                $('selectArr[j]option[value=userText]').attr("selected", "selected");#}
{#                $('.selDiv option[value="SEL1"]')#}

{#                $("select[i] option[value='userText']").attr("selected","selected");#}
            }




    }


    </script>
{% endblock %}