/********Base rules**********/
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/******************Custom helper classes***********************/
.padding-zero { /*********delete paddings from col-...************/
    padding: 0;
}

.inline-block {
    display: inline-block;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

/*******************Custom button*********************/
.btn-custom,
.btn-custom:focus {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    background-color: #fff;
    color: #75787b;
    border: 1px solid #75787b;
    border-radius: 25px 0 25px 25px;
}

.btn-custom:hover,
.btn-custom:active {
    color: #ffffff;
    border-color: #75787b;
    background-color: #75787b;
}

button {
    outline: none;
}

.btn-social {
    width: 100%;
    min-width: 190px;
    padding: 5px 0 5px 50px;
    margin: 5px 0;
    border: 1px solid #fff;
    border-radius: 25px 0 25px 25px;
}

.btn-social > :first-child {
    padding-left: 4px;
    width: 40px;
}
/************Special for Logo************/
.site-name a, .site-name a:hover, .site-name a:focus, .site-name a:active, .site-name a:visited {
    color: #ffd600;
    font-family: 'Amatic SC', cursive;
    font-size: 72px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.site-name a:hover, .site-name a:focus, .site-name a:active, .site-name a:visited {
    text-decoration: none
}

/**********Custom typography******************************/

h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    color: #333638;
    word-spacing: 4px;
    letter-spacing: 1.2px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

p {
    text-indent: 10px;
    color: #75787b;
}

a {
    color: #4169E1;
}

/*****************Customizing buttons*******************/

#toggle-nav-btn,
#toggle-nav-btn:focus {
    color: #75787b;
    border-color: #75787b;
    border-radius: 25px 0 25px 25px;
    outline: none;
}


#toggle-nav-btn:hover,
#toggle-nav-btn:active {
    color: #ffffff;
    border-color: #75787b;
    background-color: #75787b;
}

#toggle-nav-btn:active .icon-bar,
#toggle-nav-btn:hover .icon-bar {
    background-color: #ffffff;
}


/*******************/
.site-search { /********positioning site-search button*********/
    height: 30px;
    margin-top: 10px;
}

/*******************Navbar-toggle style*****************/
.navbar-default {
    border-color: #75787b;
}

.navbar-default {
    background-color: #fff;
    border: none;
}

#toggle-nav-btn { /*************id selector is used to overwrite bootstrap styles**********/
    margin: 0;
}

/***************Header navigation appearance****************/
.header-link-font {
    color: #75787b;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header-link-font:hover {
    background-color: #ffffff;
    text-decoration: underline;

}

/***********************Media query for navbar on small screens**************/
@media screen and (max-width: 768px) {
    .collapsing {
        background-color: #ffd600;
        position: absolute !important;
        z-index: 20;
        width: 90vw;
        top: 50px;
    }

    .collapse.in {
        background-color: #FFD600;
        display: block;
        position: absolute;
        z-index: 20;
        width: 90vw;
        top: 50px;
    }
}

.navbar-collapse {
    max-height: none !important;
}

/********Expanded search-field styles*******/
.nav-btn-holder {
    position: relative;
}
#nav-search-input {
    visibility: hidden;
    position: relative;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 20;
    background-color: #75787b;

}
#nav-search-input.search-expanded {
    visibility: visible;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 20;
    font-size: 20px;
    color: #ffd600;
    background-color: #75787b;
    transition: height 400ms ease-in-out, padding 400ms ease-in-out;
}

/*.site-search-input-wrapper {
    height: 100%;
    width: 100%;
    color: #ffd600;
}*/
.site-search-input {
    display: inline-block;
    visibility: visible;
    position: absolute;
    left: 35px;
    top: 50%;
    height: 35%;
    width: 90%;
    background-color: #75787b;
    border: none;
    border-bottom: 1px solid #ffd600;
    outline: none;
}

#glyphicon-search2 {
    display: inline-block;
    position: absolute;
    top: 57%;
    left: 10px;
    z-index: 25
}

#nav-search-input .glyphicon-remove {
    display: inline-block;
    position: absolute;
    top: 57%;
    right: 10px;
    z-index: 25;
    color: #000;
}

/******************************************/
.login-buttons li:first-child { /***class to change position of login buttons in header****/
    padding-right: 10px;
}


.user-menu p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 10px;
}

.user-menu span {
    color: #75787b;
    font-weight: 700;
}

.login-modal {
    width: 200px;
}
/************************Main-img**************************************************/
