
.navbar p {
    margin-bottom: 0;
}
.dl-horizontal {
    display: inline-flex;

}

 dd {
    margin-left: 20px;
    margin-right: 50px;
}


.field-correct {
    border-color: #06fdbd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(11, 201, 15, 0.84);
}

.field-incorrect, .field-incorrect:focus {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.field-notification {
    position: absolute;
    top: 0px;
    right: 37px;
    font-size: 12px;
    font-style: italic;
    color: red;
}

.reg-form {
    max-width: 485px;
}

.reg-form input {
    width: 200px;
    margin-top: 5px;
}
.reg-form label {
    margin-bottom: 0;
}
.reg-form label small {
    display: inline-block;
    height: 1rem;

}


.btn-social {
    width: 207px;
    color: #fff;
}
.btn-facebook {
    background-color: #3b5998;

}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;

}
.btn-social i {
    padding-left: 4px;
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn.btn-social:hover,
.btn.btn-social:focus {
    background-color: #474B4f;
    color: #fcfcfc;

}
